@charset "utf-8";
/* CSS Document */

body{
	background:url(imagens/bgs.jpg) fixed;
	background-repeat:repeat;
	margin:0;
	border:0;
	padding:0;
	font:Cambri;
}

#topo{
	background:url(imagens/topo.jpg) repeat;
	background: #262626 ;
	margin-bottom: 90px;
	width:100%; height:60px;
	position: fixed;
	z-index: 999;
			}

#menu{
	text-decoration: none;
	padding-top: 18px;
	float:right;
	margin-right:120px;
	
}
#menu a{
	font-size: 18px;
	font-family:"Bauhaus Md BT";
	color: #fff;
	margin: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;

}
#menu a:hover{
	background: #14a6dc;
	border-radius: 3px;
	-webkit-transition: ease 0.5s;
	-moz-transition: ease 0.5s ;
	transition: ease 0.5s ;
	cursor:pointer;
}


.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;

  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


#thumbnails_grid{
	overflow: hidden;
	background-color: #fcfcfc;
	list-style: none outside none;
	margin: 0px;
padding: 0px;
border: 0px none;
outline: 0px none;
font-size: 1em;
vertical-align: baseline;
font-weight: normal;
margin-bottom:40px;
}
#thumbnails_grid li{
width: 25%;
position: relative;
float: left;
line-height: 0;
margin: 0px;
padding: 0px;
border: 0px none;
outline: 0px none;
font-size: 1em;
vertical-align: baseline;
font-weight: normal;
list-style: none outside none;
}



#desc{
	padding-top: 60px;
	margin:0px 70px 0px 70px;
	font-family:Century Gothic;
	text-align:justify;
	font-size:20px;
	}
#desc h1{
	color:#14a6dc;
	font-size:36px;
	margin-bottom: -8px;
	background: url(imagens/section-top-bg.png) repeat-x  bottom;}

table img{
	margin-top: 30px;
	border: 3px solid #d3d3d3;
	border-radius: 3px;
}


.servicos{
	 width:285px;
	color:#14a6dc; font-family:"Bauhaus Md BT";
	font-size:24px;
	cursor: context-menu
	}
.servicos1{
	width:285px;
	color:#000; font-family:"Bauhaus Md BT";
	font-size:17px;
	text-align-last:justify;
		cursor: context-menu
}
	
.servicos:hover{
	color:#ffbf00;
	border-radius: 3px;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	transition: all 0.7s;
	}
	
#portifolio h1{
	padding-top: 85px;
	margin:50px 70px 50px 70px;
	font-family:Century Gothic;
	text-align:justify;
	color:#14a6dc;
	font-size:36px;
	background: url(imagens/section-top-bg.png) repeat-x  bottom;
	}
	
#portifolio{background: #fcfcfc repeat;
padding-bottom:30px}

#contato{
	background-image:url(imagens/bg_contato.png);
	background-size:100%;
	background-attachment:fixed;
	padding-bottom:50px;
	padding-top:50px;
}
	
#contato h2{
	margin:3px;
	padding-left:10px;
	font-size:18px;
	font-weight:normal;
	color:#7A7A7A;
}
#contato h1{
	font-family:Century Gothic; color:#14a6dc;text-align:justify;
	margin-left:50px ;	}


.project_list_item_meta{
	position:relative;
	padding:5px;
	margin-top:-224px;
	color: #fff;
	font-family:Century Gothic;
	background:#06C;
	opacity:0;
	height:100%;
}
.project_list_item_meta_container #text{
	height:150px;
	line-height:18px;
	font-size: 16px;
}


.project_list_item_meta:hover{
	opacity:0.9;
	cursor:pointer;
}
.project_list_item_meta_container #title{
	padding-top:21px;
	padding-bottom:11px;
	font-size:20px;
	font-weight:bold;
}
#menu a{
	text-decoration:none;
}
form#contato{
	width:800px;
	margin:0 auto;
}
form#contato input,textarea{
	width:98%;
	margin:5px;
	padding:2%;
	border:none;
	border-radius:5px;
	box-shadow:0 0 2px #AFAFAF;
}
form#contato input[type=submit]{
	width:102%;
}
form#contato textarea{
	height:300px;
}